[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
shortuuid = "~=1.0.11"
pyyaml = "~=6.0.1"
pytest = "~=7.4.4"
maskpass = "~=0.3.7"
pytest-mock = "*"
flask = "~=3.0.1"
flask-smorest = "*"
marshmallow = "~=3.20.2"
flask-jwt-extended = "*"
python-dotenv = "~=1.0.0"
flask-sqlalchemy = "*"
mysql-connector-python = "*"
pymysql = "*"

[dev-packages]

[requires]
python_version = "3.11"
