[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
shortuuid = "*"
pyyaml = "*"
maskpass = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.4"

[pipenv]
allow_prereleases = true
